In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("Datasets/matches - matches.csv")

In [2]:
# Fetch a single Column

print(type(data['winner']))

data['winner'].head(3) # fetch a single column series
# Series contains two things index(mostly autogenerated) and values

<class 'pandas.core.series.Series'>

0       Sunrisers Hyderabad
1    Rising Pune Supergiant
2     Kolkata Knight Riders
Name: winner, dtype: object

In [3]:
# Fetch Multiple Column
print(data[['team1', 'team2' ,'winner']].shape, '\n') # shape

data[['team1', 'team2' ,'winner']].head(3) # Dataframe

(636, 3)

                 team1                        team2                  winner
0  Sunrisers Hyderabad  Royal Challengers Bangalore     Sunrisers Hyderabad
1       Mumbai Indians       Rising Pune Supergiant  Rising Pune Supergiant
2        Gujarat Lions        Kolkata Knight Riders   Kolkata Knight Riders

In [4]:
# Fetching rows

data.iloc[2:7:2] # Rows using index, Third is step

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [5]:
# Fancy Indexing
data.iloc[[1,5,6]] # Directly passing the indexes

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [6]:
# fetching columns using iloc
data.iloc[:,[4,5,10]].head(3)

                 team1                        team2                  winner
0  Sunrisers Hyderabad  Royal Challengers Bangalore     Sunrisers Hyderabad
1       Mumbai Indians       Rising Pune Supergiant  Rising Pune Supergiant
2        Gujarat Lions        Kolkata Knight Riders   Kolkata Knight Riders