In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Datasets/deliveries.csv')
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [46]:
# best batsman by number of runs scores throughout seasons
batsmans = data[['batsman', 'batsman_runs', 'ball']].groupby(['batsman'])

In [52]:
batsmans['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [61]:
mask = data['batsman_runs'] == 6
data[mask]
data[mask].groupby(['batsman'])['batsman_runs'].count().sort_values(ascending=False).head()

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
V Kohli      160
DA Warner    160
Name: batsman_runs, dtype: int64

In [76]:
mask = data['batsman'] == 'V Kohli'
data[mask].groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head()

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

In [75]:
def runs_vs_team(batsman):
    mask = data['batsman'] == batsman
    return data[mask].groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head()


print('RG Sharma: ', runs_vs_team('RG Sharma'), '\n')
print('V kohli: ', runs_vs_team('V Kohli'), '\n')
print('MS Dhoni: ', runs_vs_team('MS Dhoni'), '\n')

RG Sharma:  bowling_team
Kolkata Knight Riders          710
Delhi Daredevils               670
Chennai Super Kings            535
Kings XI Punjab                528
Royal Challengers Bangalore    519
Name: batsman_runs, dtype: int64

V kohli:  bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

MS Dhoni:  bowling_team
Royal Challengers Bangalore    608
Mumbai Indians                 581
Kings XI Punjab                453
Delhi Daredevils               419
Kolkata Knight Riders          387
Name: batsman_runs, dtype: int64